## Assignment 4: Social Network Dataset to be Analyzed

##### Jimmy Ng & Corey Arnouts

http://www.sociopatterns.org/datasets/high-school-dynamic-contact-networks/

# Overview

For this network analysis we are going to be looking at the interactions between different students at a high school,
 this data also includes categorical data about what class the interactions occurred in and what the genders of the students are. There is also data for both 2011 and 2012 so we can see how the networks changed over time as well.

## Data that we will be using

The data below is taken from the website sociopatterns.org these datasets look at the relationships present and the interactions between students at a high school. The dataset is loaded below. Before bringing in some of the text files, some manual data cleaning already occurred, e.g. there was extra parenthesis marks that were causing errors with the tab delimited format, so I had to use sublime text to remove all of these parenthesis. The attributes datasets are avaliable directly from the sociopatterns website.

In [1]:
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import count
import warnings

warnings.filterwarnings('ignore')

df2011 = pd.read_csv('https://raw.githubusercontent.com/myvioletrose/data620_team/master/assignment/week_4/high-school-social-network2012.txt',
                 sep='\t',
                 header=None,
                 names=['t', 'i', 'j','Ci','Cj'])

df2012 = pd.read_csv('https://raw.githubusercontent.com/myvioletrose/data620_team/master/assignment/week_4/high-school-social-network2012.txt',
                 sep='\t',
                 header=None,
                 names=['t', 'i', 'j','Ci','Cj'])


attributes2011 = pd.read_csv('http://www.sociopatterns.org/wp-content/uploads/2015/09/metadata_2011.txt',
                  sep='\t',
                  header=None,
                  names=['node', 'dept','gender'])

attributes2012 = pd.read_csv('http://www.sociopatterns.org/wp-content/uploads/2015/09/metadata_2012.txt',
                  sep='\t',
                  header=None,
                  names=['node', 'dept','gender'])

Bad key "text.kerning_factor" on line 4 in
C:\Users\myvio\Anaconda3\envs\sps620env\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

## Plan for Analysis

For our analysis we will be using the networkx package along with the pyvis package to look at the different networks in a more dynamic way. I think we may also output the data and load it into gephi to perform different visualizations in that tool. We are very interested to look at the different types of social positions that are occupied within the social structure of a high school. For example we may find that there are students that don't have a very high degree centrality but do have a high betweeness centrality, meaning that these are people that only have a few friends but their friends are all from different social groups.

### Weighting of the Interactions

Our plan is to look at the frequency of interactions between different students to come up with the weights of the edges. Another possibility is to use the timestamps that are present to come up with a weight that is not based on frequency but rather time spent talking to one another.

### Comparing Metrics Across Groups

We can compare different metrics like degree centrality, closeness centrality and betweenness centrality within and between genders, as well as within and between different classes. One hypothetical outcome from comparing these different metrics across groups is that we would find out whether one gender is more socially connected than the other gender, or when we compare year to year we may find that whether one gender changes their social network more quickly. We may also find similar outcomes when comparing across different classes.

In [3]:
df2011

                t     i     j    Ci    Cj
0      1353303380  1170  1644  MP*1  MP*1
1      1353303400  1170  1613  MP*1  MP*1
2      1353303640  1170  1644  MP*1  MP*1
3      1353303760  1181  1651  MP*1  MP*1
4      1353303840  1108  1190  MP*1  MP*1
...           ...   ...   ...   ...   ...
45042  1354032580   880   887   PC*   PC*
45043  1354032580   854   869  PSI*  PSI*
45044  1354032600   880   887   PC*   PC*
45045  1354032760   620   669  MP*2  MP*2
45046  1354032880   669   677  MP*2  MP*2

[45047 rows x 5 columns]

In [4]:
attributes2011

     node     dept gender
0      28       PC      F
1     103       PC      F
2      34     PSI*      M
3      81       PC      M
4      56       PC      F
..    ...      ...    ...
121    38     PSI*      F
122    78      PC*      M
123    42     PSI*      M
124    22     PSI*      M
125   123  teacher      M

[126 rows x 3 columns]